*.png
*.asv
*.toc
uqdes
Laplace_Approximation/Charlie_work
*.tex
*synctex*
*.log
*.aux
.Rproj.user
*.mat
*.RData
*fskq*
*.txt
*importance_sampling.R
*.Rhistory
*.out
*.snm
*.nav
*.bbl
*.fig
*.bib
*.blg
*laplace_diagnostic_slides.pptx
